html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  width: 90%;
  margin: 0 auto;
  display: grid;
}
h1,
h2,
h3 {
  text-align: left;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  font-size: 1.5rem;
  margin: 0.1rem 0;
}
li {
  font-size: 1.1rem;
  padding: 0.1rem 0;
}
.skill_list {
  display: grid;
  grid-area: 1;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
}
.info div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info div p {
  font-size: 1.4rem;
  margin: 1% 0 1% 3%;
}
.info div .tiny {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0;
}
.education .too_tall {
  margin: 0;
  padding: 0;
  height: 6rem;
}
.education .flexed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0% auto;
  width: 80%;
}
.education .flexed .p {
  height: 0%;
  margin: 0%;
  padding: 0%;
}
.skills .skill_list {
  padding: 0 3%;
}
.skills .skill_list h5 {
  margin: 0;
  padding: 0;
}
.skills .skill_list p {
  margin: 2% 3%;
}
.lambda_school {
  font-size: 2.5rem;
}
section {
  padding: 2%;
}
.left {
  width: 30%;
}
.right {
  width: 70%;
}
.main {
  display: flex;
}
.title {
  border-bottom: #ffffff ridge 10px;
}
.exp {
  border-top: #ffffff ridge 10px;
}
.exp h4 {
  padding: 0;
  margin: 1%;
}
.skills,
.info {
  border-right: #ffffff ridge 10px;
}
