html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body {
    width: 90%;
    margin: 0 auto;
    display: grid;
}
h1,
h2,
h3 {
    text-align: center;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.5rem;
}

.skill_list {
    display: grid;
    grid-area: 2/2;
    // grid-template-columns: repeat(5, 1fr);
}
.info {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 1.4rem;
        }
        .tiny {
            font-size: 1rem;
            font-weight: 600;
        }
    }
}
.education .flexed {
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    justify-content: space-evenly;
    align-content: center;
    margin: 0%;
    .p {
        height: 0%;
        margin: 0%;
        padding: 0%;
    }
}
.skills {
    .skill_list {
        padding: 0 3%;
    }
}
.lambda_school {
    font-size: 2.5rem;
}
section {
    border: dotted 1px green;
    padding: 2%;
}
.left {
    width: 30%;
}
.right {
    width: 100%-30%;
}
.main {
    display: flex;
}
